.map-container {
    margin-left: -15px !important; 
    margin-right: 0 !important; 
    overflow: hidden;
    border: none;
    width:105%;
    height:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    margin-top:70px;
}