html {
	font-family: "Arial Black", Gadget, sans-serif;
}

.login-container{
	margin: 0 auto;
	position: absolute;
	background: #000 url("images/background2.jpg") repeat fixed center center;
	min-height: 700px;
	min-width: 100%;
	overflow-y: hidden;
	text-align: center;
}

.label-login{
	font-weight: bold;
	color: #FFF;
	margin: 8% auto;
	font-size: 45px;
	display: inline-block;
	vertical-align: middle;
}

.logo{
	width: 20%;
	margin: 10% 1%;
	left: 0;
	display: inline-block;
	vertical-align: middle;
}

.head-title{
	color: #3A5488;
	margin: 2% 10px;
	display: inline-block;
	vertical-align: middle;
	font-size: 40px;
}
 
.iconfacebook {
	background: #43609C;
	border-radius: 15px;
	display: block;
	min-width: 250px;
	padding: 0px 20px 0 35px;
	border: none;
	margin: 20% auto;
}
 
.iconfacebook:after {
	color: #fff;
	content: "f";
	font-family: Facebook Letter Faces, Arial;
	font-size: 70px;
	font-weight: bold;
	vertical-align: middle;
	display: inline-block;
	float: left;
}

.chat-input{
	width: 100%;
	margin: 2%;
}

.send-message{
	background-color: #43609C;
}