html {
	font-family: "Arial Black", Gadget, sans-serif;
}

.label-login{
	font-weight: bold;
	color: #FFF;
	float: right;
	margin: 20% auto;
}

.container{
	margin: 2% auto;
}

.logo{
	width: 50px;
	margin: 1%;
	left: 0;
	display: inline-block;
	vertical-align: middle;
}

.head-title{
	color: #3A5488;
	margin: 1%;
	display: inline-block;
	vertical-align: middle;
}
 
.iconfacebook {
	background: #43609C;
	border-radius: 15px;
	display: block;
	top: 20%;
	min-width: 100px;
	padding: 0px 20px 0 15px;
	border: none;
}
 
.iconfacebook:after {
	color: #fff;
	content: "f";
	font-family: Facebook Letter Faces, Arial;
	font-size: 30px;
	font-weight: bold;
	margin: 3%;
	vertical-align: middle;
	display: inline-block;
	float: left;
}

.chat-input{
	width: 100%;
	margin: 2%;
}

.send-message{
	background-color: #43609C;
}

.arrow-right {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 0 12px 20.0px;
	border-color: transparent transparent transparent #ffffff;
	line-height: 0px;
	_border-color: #000000 #000000 #000000 #ffffff;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}