<template name="chat">
	<div id="chatDiv" class="chat-area">
		<div class="col-sm-12">
			<ul class="chat-messages collection">
				{{#each messages}}
					{{ >chatMessage}}
				{{/each}}
			</ul>
		</div>
		<div class="row">
			<div class="col s12">
				<input id="chatInput" type="text" class="form-control chat-input" place-holder="write a message">
			</div>
			<div class="col s5">
				<button class="btn btn-info send-message">Send</button>
			</div>
		</div>
	</div>
</template>
<template name="chatFooter">
</template>
