<template name="chatMessages">
	<div class="col-sm-12">
		<table class="table table-striped">
			<tbody>
				{{#each messages}}
					<tr>
						<td class="user-nick">
							{{user}}
						</td>
						<td class="user-text">
							{{text}}
						</td>
						<td>
							distance: {{calculateDistance userGeoLocation.lat userGeoLocation.lng geoLocation.lat geoLocation.lng}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<div class="col-sm-12">
		<table class="table">
			<tr>
				<td>
					<input id="chatInput" type="text" class="form-control chat-input" place-holder="write a message">
					</td>
				<td>
					<button class="btn btn-info send-message">send</button>
				</td>
			</tr>
		</table>
	</div>
</template>
